/* .jumbotron {
  background: 239 239 239;
} */

/* .jumbo-img {
  heigth: 1000px;
} */

.about-me {
  display: flex;
  justify-content: space-around;
}

.img {
  height: 700px;
}

h1 {
  padding: 0 2em;
}

hr {
  margin: 0 125px;
}

.contact-me {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
